.container {
  padding: 0 3.2rem;
}

.grid-item-container {
  padding: 1rem 2.4rem 3.2rem;
}

.grid {
  display: grid;
  gap: 4.8rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.heading-primary {
  font-family: "DM Serif Text", serif;
  font-size: 4.8rem;
  margin-bottom: 3.2rem;
}

.shadow--sm {
  box-shadow: 0.5rem 0.5rem black;
  transition: all 0.2s;
}

.shadow--sm:hover {
  box-shadow: 0.3rem 0.3rem black;
}

.shadow--lg {
  box-shadow: 0.65rem 0.65rem black;
  transition: all 0.3s;
}

.shadow--lg:hover {
  box-shadow: 0.4rem 0.4rem black;
}

.rounded-corners {
  border: 3px solid black;
  border-radius: 9px;
  overflow: hidden;
}

.border {
  border: 3px solid black;
}

.margin-top-auto {
  margin-top: auto;
}

.tags {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 1.4rem;
}

.tag-item {
  font-size: 1.4rem;
  padding: 0.5rem 1.2rem;
  background-color: white;
  border-radius: 1000rem;
  border: 2px solid black;
  box-shadow: 0.4rem 0.4rem black;
  transition: all 0.4s;
}

.tag-item:hover {
  box-shadow: 0.6rem 0.6rem black;
  background-color: #4ade80;
}

.link:link,
.link:visited {
  cursor: pointer;
  color: inherit;
}
